*{
    margin: 0px;
    padding: 0px;
}

.hero-section{
    border: 1px red solid;
    text-align: center;
}

.hero-content-container{
    height: 200px;
    padding: 206px;
    border: 1px blue solid;
}

.hero-content-container h1{
    font-size: 50px;
}

.hero-content-container h2{
    font-size: 50px;
    color: rgb(20, 89, 219);
}

.hero-content-container p{
    font-size: 20px;
    color: gray;
}

.hero-button-container{
    padding: 30px;
    display: flex;
    border: 1px red solid;
    justify-content: center;
    gap: 10px;
}